<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Custom metadata -->
        <meta name="author" content="Alexander Ahlgreen Madsen" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="" />

        <meta property="og:url" content="" />
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:type" content="website" />
        <meta name="og:description" content="" />

        <!-- Icon -->
        <link rel="shortcut icon" href="./" type="image/png" />

        <!-- Google Fonts Preconnect -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />

        <!-- Style -->
        <link rel="stylesheet" href="./assets/css/index.css" />

        <title></title>
    </head>
    <body>
        <header></header>
        <main></main>
        <footer></footer>

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Hind:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </body>
</html>
