<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Custom metadata -->
        <meta name="author" content="MadCreativity (I-Strategi)" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="" />

        <meta property="og:url" content="" />
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:type" content="website" />
        <meta name="og:description" content="" />

        <!-- Icon -->
        <link rel="shortcut icon" href="./" type="image/png" />

        <!-- Style -->
        <link rel="stylesheet" href="./assets/css/index.css" />

        <title></title>
    </head>
    <body></body>
</html>
